<section class="container">
    <h1>{{title}}</h1>
    <div class="mb-3">
        <div class="mb-3">
            <p class="form-label"><strong>Beneficiario:</strong> {{contentRes.recipient}}</p>
            <p class="form-label"><strong>Cantidad:</strong> {{contentRes.amount}}</p>
            <p class="form-label"><strong>Recibo N°:</strong> {{contentRes.nonce}}</p>
            <p class="form-label" id="pagadorAddress" data-content={{contentRes.defaultAccount}}><strong>Pagador:</strong> {{contentRes.defaultAccount}}</p>
            <p class="form-label" id="hash" data-content={{contentRes.hash}}><strong>Hash:</strong> {{contentRes.hash}}</p>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" id="sign">Firmar</button>

        </div>
    </div>
    {{!-- <form action="/" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Beneficiario</label>
            <input type="text" class="form-control" name="recipient" id="beneficiario" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cantidad de WEIS</label>
            <input type="number" class="form-control" name="amount" id="cantweis">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Numero de recibo</label>
            <input type="number" class="form-control" name="nonce" id="recibo">
        </div>

        <input type="hidden" name="defaultAccount" id="defaultAccount" val="">
        <button type="submit" class="btn btn-primary">Siguiente</button>
    </form>
    <p class="row" id="addressUsed"></p> --}}
</section>